@model IEnumerable<VaultDto>
@{
    ViewData["Title"] = "List Vaults";
}

<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
        <h3 class="fw-bold mb-3">Vaults</h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card card-round">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <!-- Vaults table -->
                    <table class="table align-items-center mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="text-end">Label</th>
                                <th scope="col" class="text-end">Is Private</th>
                                <th scope="col" class="text-end">Created At</th>
                                <th scope="col" class="text-end">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderByDescending(o => o.CreatedAt))
                            {
                                <tr>
                                    <th scope="row">
                                        <button class="btn btn-icon btn-round btn-success btn-sm me-2">
                                            <i class="fa fa-lock"></i>
                                        </button>
                                    </th>
                                    <td class="text-end">@item.Label</td>
                                    <td class="text-end">
                                        @if (item.IsPrivate)
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    </td>
                                    <td class="text-end">
                                        <span>@item.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                    </td>
                                    <td class="text-end">
                                        <div class="row">
                                            <div class="col-md-12 col-4 mt-1">
                                                <a asp-controller="Vault" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Update</a>
                                            </div>
                                            <div class="col-md-12 col-4 mt-1">
                                                <a asp-controller="Vault" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                                            </div>
                                            <div class="col-md-12 col-4 mt-1">
                                                <a asp-controller="Vault" asp-action="Share" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Share</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td colspan="5" class="text-center">No vaults found.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
